@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";

body {
  @apply text-base;
}

/**
* All the gradiants for tailwind go in a class.
*/

:root {
  --primary-gradiant-color: 90deg, #0de7da 3%, #2de282 95%;
}

.gradiant-purple {
  @apply bg-gradient-to-tl from-[#3c1155] from-20% via-[#39155a] via-60% to-[#3d1381] to-95%;
}

.to-b-gradiant-purple {
  @apply bg-gradient-to-b from-[#3c1155] from-20% via-[#39155a] via-60% to-[#3d1381] to-95% opacity-70;
}

.to-b-gradiant-purple-reverse {
  @apply bg-gradient-to-b from-[#3d1381] from-20% via-[#39155a] via-60% to-transparent to-100% opacity-70;
}

.gradiant-text-green {
  @apply inline-block bg-gradient-to-r from-[#0de7da]  from-5% to-[#2de282] to-100% bg-clip-text text-transparent;
}

.gradiant-yellow {
  @apply bg-[#EFCB1D];
}

.to-b-gradiant-yellow {
  @apply bg-gradient-to-b from-transparent from-0% to-bk-accent to-70% opacity-60;
}
.to-b-gradiant-yellow-reverse {
  @apply bg-gradient-to-b from-bk-accent from-0% to-transparent to-100% opacity-60;
}

.to-b-gradiant-gray {
  @apply bg-gradient-to-b from-transparent from-0% to-gray-800 to-70%;
}
.to-b-gradiant-gray-reverse {
  @apply bg-gradient-to-b from-gray-800 from-0% to-transparent to-100%;
}

.gradiant-gray {
  @apply bg-gray-800;
}

.gradiant-text-yellow {
  @apply text-[#EFCB1D];
}

h1,
.h1 {
  @apply text-4xl;
}

h2,
.h2 {
  @apply text-2xl font-semibold;
}
h3,
.h3 {
  @apply text-xl font-semibold;
}

h3,
.h3 {
}

p,
.p {
}

.clip-path {
  clip-path: polygon(0% 0%, 0 81%, 100% 31%, 100% 0);
}

.text-gradiant {
  background-image: -webkit-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(
    var(--primary-gradiant-color)
  ); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  opacity: 1;
}

/**
* Data AOS Custom Animations
*/
[data-aos="fade-left-custom"] {
  opacity: 0;
  transform: translate(20px);
}
[data-aos="fade-left-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

[data-aos="fade-right-custom"] {
  opacity: 0;
  transform: translate(-20px);
}
[data-aos="fade-right-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

[data-aos="fade-up-custom"] {
  opacity: 0;
  transform: translate(0, 20px);
}

[data-aos="fade-up-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}


/**
* Flip card styles
*/
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 500px;
  perspective: 1000px;
  transition: all;
  z-index: 100;
}

.flip-card-inner {
  position: relative;

  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: black;
}

.flip-action {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 200px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}



/**
* Dialog animations
*/
.dialog-enter {
  opacity: 0;
  margin-top: 60px;
}
.dialog-enter-active {
  opacity: 1;
  transition: opacity 300ms, margin-top 800ms;
  transition-timing-function: cubic-bezier(.16,.65,.5,.96);
  margin-top: 80px;
}
.dialog-exit {
  opacity: 1;
  margin-top: 80px;
}
.dialog-exit-active {
  opacity: 0;
  transition: opacity 300ms, margin-top 400ms;
  transition-timing-function: cubic-bezier(.4,.26,.11,.99);
  margin-top: 60px;
}

.dialog-bg-enter {
  opacity: 0;
}
.dialog-bg-enter-active {
  opacity: 1;
  transition: opacity 300ms;
  transition-timing-function: cubic-bezier(.16,.65,.5,.96);
}
.dialog-bg-exit {
  opacity: 1;
}
.dialog-bg-exit-active {
  opacity: 0;
  transition: opacity 300ms, ;
  transition-timing-function: cubic-bezier(.4,.26,.11,.99);
}

.gray-border{
  @apply  border-x-[1px];
}


/**
* Zoom-in animation
*/
.zoom-in-animation {
  animation: zoom-in-zoom-out 1s ease forwards;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
