@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./simons.css";

@import "aos/dist/aos.css";

body {
  @apply text-base;
  scroll-behavior: smooth;
}

/**
* All the gradiants for tailwind go in a class.
*/

:root {
  --primary-gradiant-color: 90deg, #0de7da 3%, #2de282 95%;
  --fs-xl: clamp(3rem, 3.5vw + 1rem, 8rem);
}

h1,
.h1 {
  font-size: var(--fs-xl);
  @apply pb-7 font-semibold leading-loose md:leading-tight;
}

h2,
.h2 {
  @apply pb-7 text-3xl  lg:text-4xl xl:text-5xl;
}

h3,
.h3 {
  @apply text-lg lg:text-2xl xl:text-3xl;
}

h4,
.h4 {
  @apply text-base lg:text-lg xl:text-xl;
}

p,
.p {
  @apply pb-3 text-sm opacity-80 lg:text-base;
}

.gradiant-purple {
  @apply bg-gradient-to-tl from-[#3c1155] from-20% via-[#39155a] via-60% to-[#3d1381] to-95%;
}

.to-b-gradiant-purple {
  @apply bg-gradient-to-b from-[#3c1155] from-20% via-[#39155a] via-60% to-[#3d1381] to-95% opacity-70;
}

.to-b-gradiant-purple-reverse {
  @apply bg-gradient-to-b from-[#3d1381] from-20% via-[#39155a] via-60% to-transparent to-100% opacity-70;
}

.to-b-gradiant-purple-same {
  @apply bg-[#3c1155] opacity-70;
}

.gradiant-text-green {
  @apply inline bg-gradient-to-r from-[#0de7da]  from-5% to-[#2de282] to-100% bg-clip-text text-transparent;
}

.gradiant-yellow {
  @apply bg-[#EFCB1D];
}

.to-b-gradiant-yellow {
  @apply bg-gradient-to-b from-transparent from-0% to-bk-accent to-70% opacity-60;
}
.to-b-gradiant-yellow-reverse {
  @apply bg-gradient-to-b from-bk-accent from-0% to-transparent to-100% opacity-60;
}

.to-b-gradiant-gray {
  @apply bg-gradient-to-b from-transparent from-0% to-gray-800 to-70%;
}
.to-b-gradiant-gray-reverse {
  @apply bg-gradient-to-b from-gray-800 from-0% to-transparent to-100%;
}

.to-b-white {
  @apply bg-[#fff];
}

.gradiant-gray {
  @apply bg-gray-800;
}

.gradiant-text-yellow {
  @apply text-[#EFCB1D];
}

.clip-path {
  clip-path: polygon(0% 0%, 0 81%, 100% 31%, 100% 0);
}

.text-gradiant {
  background-image: -webkit-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    var(--primary-gradiant-color)
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(
    var(--primary-gradiant-color)
  ); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  opacity: 1;
}

/**
* Data AOS Custom Animations
*/
[data-aos="fade-left-custom"] {
  opacity: 0;
  transform: translate(20px);
}
[data-aos="fade-left-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

[data-aos="fade-right-custom"] {
  opacity: 0;
  transform: translate(-20px);
}
[data-aos="fade-right-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

[data-aos="fade-up-custom"] {
  opacity: 0;
  transform: translate(0, 20px);
}

[data-aos="fade-up-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

/**
* Flip card styles
*/
.flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
  transition: all;
  z-index: 100;
  display: block;
  height: fit-content;
}

.flip-card-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: black;
}

.flip-action {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/**
* Dialog animations
*/
.dialog-enter {
  opacity: 0;
  margin-top: 60px;
}
.dialog-enter-active {
  opacity: 1;
  transition: opacity 300ms, margin-top 800ms;
  transition-timing-function: cubic-bezier(0.16, 0.65, 0.5, 0.96);
  margin-top: 80px;
}
.dialog-exit {
  opacity: 1;
  margin-top: 80px;
}
.dialog-exit-active {
  opacity: 0;
  transition: opacity 300ms, margin-top 400ms;
  transition-timing-function: cubic-bezier(0.4, 0.26, 0.11, 0.99);
  margin-top: 60px;
}

.dialog-bg-enter {
  opacity: 0;
}
.dialog-bg-enter-active {
  opacity: 1;
  transition: opacity 300ms;
  transition-timing-function: cubic-bezier(0.16, 0.65, 0.5, 0.96);
}
.dialog-bg-exit {
  opacity: 1;
}
.dialog-bg-exit-active {
  opacity: 0;
  transition: opacity 300ms;
  transition-timing-function: cubic-bezier(0.4, 0.26, 0.11, 0.99);
}

/**
* Burger-animations 
 */

 .burger-circle-enter {
  scale:0;
  animation-name: circle-animation;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards; 
}

@keyframes circle-animation {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }

}

/* .burger-circle-active {
  scale:1;
  
  transition: scale 400ms;
  transition-timing-function: cubic-bezier(0.16, 0.65, 0.5, 0.96);
} */
.burger-circle-exit {
  scale:1;
}
.burger-circle-exit-active {
  scale: 0;
  transition: scale 300ms;
  transition-timing-function: cubic-bezier(0.4, 0.26, 0.11, 0.99);
}

.gray-border {
  @apply border-x-[1px];
}

/**
* Zoom-in animation
*/
.zoom-in-animation {
  animation: zoom-in-zoom-out 1s ease forwards;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/** 
* Games styles
*/
.red {
  background-color: rgb(151, 25, 25);
}
.yellow {
  background-color: rgb(223, 192, 20);
}
.green {
  background-color: rgb(23, 150, 51);
}
.blue {
  background-color: rgb(20, 38, 138);
}

.SIMON__flashing-animation {
  animation-name: flashing 1s infinite;
}
@keyframes flashing {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.animationButton {
  visibility: hidden;
}

.lose {
  background-color: rgb(173, 26, 26);
}

.goodButtonAnimation {
  background-color: rgb(255, 255, 255);
}

/** 
* BurgerMenu icon 
*/

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
